*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial, sans-serif;
}

body{
background:#1e1e23;
color:#e5e5e5;
line-height:1.6;
}


/* HERO */

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(120deg,#0f4c81,#2a0959);
}

.hero h1{
font-size:40px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
color:#d4d4d4;
}


/* PRICING */

.pricing{
max-width:1200px;
margin:auto;
padding:80px 20px;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:40px;
}



.price{
font-size:28px;
font-weight:bold;
margin:15px 0;
color:#7da6ff;
}

.card ul{
margin:20px 0;
padding-left:20px;
}

.card li{
margin-bottom:8px;
}

button{
background:#5b8cff;
border:none;
padding:12px 20px;
border-radius:6px;
color:white;
font-weight:600;
cursor:pointer;
}

button:hover{
background:#4a77e3;
}


/* INFOS */

.infos{
max-width:1100px;
margin:auto;
padding:80px 20px;
}

.info-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:40px;
margin-top:40px;
}


